<h3>{{viewTitle}}</h3>

<form action="/paciente" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{paciente._id}}">
    <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" class="form-control" name="fullName" placeholder="Nome Completo" value="{{paciente.fullName}}">
        <div class="text-danger">
            {{paciente.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Data de Nascimento</label>
        <input type="date" class="form-control" name="birthDate" placeholder="Data de Nascimento" value="{{paciente.birthDate}}">
        <div class="text-danger">
            {{paciente.birthDateError}}
        </div>
    </div>
    <div class="form-group">
        <label>Sexo</label>
        <input type="text" class="form-control" name="sex" placeholder="Sexo" value="{{paciente.sex}}">
        <div class="text-danger">
            {{paciente.sexError}}
        </div>
    </div>
    <div class="form-group">
        <label>Cartão SUS</label>
        <input type="number" class="form-control" name="susCard" placeholder="N° do Cartão SUS" value="{{paciente.suscard}}">
        <div class="text-danger">
            {{paciente.suscardError}}
        </div>
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input type="number" class="form-control" name="phone" placeholder="N° do Cartão SUS" value="{{paciente.phone}}">
        <div class="text-danger">
            {{paciente.phoneError}}
        </div>
    </div>
    {{!-- <div class="form-row">
        <div class="form-group col-md-6">
            <label>Sexo</label>
            <input type="text" class="form-control" name="sex" placeholder="Sexo" value="{{paciente.sex}}">
        </div>
        <div class="form-group col-md-6">
            <label>Cartão SUS</label>
            <input type="number" class="form-control" name="susCard" placeholder="N° do Cartão SUS" value="{{paciente.suscard}}">
        </div>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Telefone</label>
            <input type="number" class="form-control" name="phone" placeholder="0xx (DDD) 0000 - 0000" value="{{paciente.phone}}">
        </div>
        <div class="form-group col-md-6">
            <label>Cartão SUS</label>
            <input type="number" class="form-control" name="susCard" placeholder="N° do Cartão SUS" value="{{paciente.suscard}}">
        </div>
    </div>     --}}
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/paciente/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>